
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');

body {
    box-sizing: border-box;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   
}


.container p {
    font-family: 'Roboto', sans-serif;
}

.container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1025px;
    height: 839px;

}

.imgForca {
    min-width: 40%;
    margin-top: 59px;
    margin-left: 38px;
    background-color: #FFFFFF;
}

.imgForca img {
    width: 400px;
    height: 466.67px;
}


.AreaDeInteracao {
    min-width: 50%;
    margin-top: 89px;
    margin-right: 53px;
  
}

.AreaDeInteracao .btnEscolherPalavra {
    margin-left: 60%;
    position: relative;
    width: 200px;
    height: 60px;
    border: transparent;
    background: #27AE60;
    border-radius: 8px;
}
.AreaDeInteracao .AreaDasLetras {
    margin-top: 300px;
    min-width: 100%;
    height: 68px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;

}
.btnLetra {
    margin-top: 11px;
    margin-left: 12px;
    width: 40px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #39739D;
    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
}

.areaAlfabeto {
    display: flex;
    max-height: 100px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;

}

.AreaBotoesAlfabeto {

    max-width: 70%;
    height: 100%;
    background-color: FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.disabled {
    color: #7a899e;
    background: #9FAAB5;
    border: 1px solid #7AA7C7;
}

